.container {
    padding: 20px;
    background: #fff;
}

.container h1 {
    font-weight: 600;
}

.container img {
    margin-right: 50px;
}

.desciption {
    display: flex;
}

.name {
    margin: 0;
    font-weight: 600;
}