@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

* {
  box-sizing: border-box;
}

button {
  font-family: 'Proxima Nova';
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

html {
  background: #F5F5F5;
}

.App {
  font-family: 'Proxima Nova';
  display: flex;
  justify-content: center;
}

.container {
  width: 1200px;
}

.paginationBlock {
  text-align: center;
  margin-top: 30px;
}

.paginationButton button {
  background-color: #fff;
  border: 1px solid lightgrey;
}

.paginationBlock button:first-child {
  margin-right: 20px;
}